<h2>Robot League</h2>
<div class="well">  
  <table class="table table-striped robot-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Robot</th>
        <th>Updated</th>
        <th class="right">Profit Factor</th>
        <th class="right">Drawdown</th>
        <th class="right">Profit</th>        
      </tr>
    </thead>
    <% @rank = 0 %>
    <%= will_paginate @robot_configs %>
    <%= render @robot_configs %>
    <%= will_paginate @robot_configs %>
  </table>
</div>
