<% @user ||= current_user %>
<% provide(:title, 'Users') %>
<div class="row-fluid">
<% if @users.any? %>
  <div class="span6 offset3 well users">
    <h5>Users</h5>
      <%= will_paginate %>
      <%= render @users %>
  </div>    
<% end %>
</div>  
