<% @user ||= current_user %>
<% provide(:title, 'Users') %>
<div class="row-fluid">
  <div class="span4">
  </div>
<% if @users.any? %>
  <div class="span8">
    <% if @users.any? %>
      <ul class="users">
        <%= will_paginate %>
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
<% end %>
</div>  


