<div class="well forms">
    <li><%= render 'shared/user_info' %></li>
    <li><%= render 'shared/stats', user: @user %></li>
    <% if @user == current_user %>
    <li><%= render 'shared/robot_form' %></li>
    <li><%= render 'shared/micropost_form' %></li>
    <% end %>
</div>
  