<li>
  <% if micropost.parent_id != nil 
    content = truncate(micropost.content, :length => 150, separator: ' ', omission: '...(continued)')
  else
    content = micropost.content
  end %>
  <span class="content"><%= simple_format(content) %></span>
  <% if micropost.robot_config != nil %>
    <div class="versions">
      <%= render partial: 'robot_configs/robot_config_button', locals: {micropost: micropost} %>
    </div>
  <% end %>
  <span class="timestamp">
    Posted by <%= link_to micropost.user.name, micropost.user %> <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>