<footer class="footer">
  <small>
    <a href="http://ea-control-heroku.com/">EA Control</a>
    by Paul Cobley
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://ea-control-heroku.com/">News</a></li>
    </ul>
  </nav>
</footer>